@model Web1Shamil.Models.Classes.Teams

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Teams</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamsId" />
            <div class="form-group">
                <label asp-for="TeamsName" class="control-label"></label>
                <input asp-for="TeamsName" class="form-control" />
                <span asp-validation-for="TeamsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamsStadium" class="control-label"></label>
                <input asp-for="TeamsStadium" class="form-control" />
                <span asp-validation-for="TeamsStadium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegionsId" class="control-label"></label>
                <select asp-for="RegionsId" class="form-control" asp-items="ViewBag.RegionsId"></select>
                <span asp-validation-for="RegionsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StageId" class="control-label"></label>
                <select asp-for="StageId" class="form-control" asp-items="ViewBag.StageId"></select>
                <span asp-validation-for="StageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

