@model Web1Shamil.Models.Classes.Uniforms

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Uniforms</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UniformsId" />
            <div class="form-group">
                <label asp-for="UniformsName" class="control-label"></label>
                <input asp-for="UniformsName" class="form-control" />
                <span asp-validation-for="UniformsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniformsColor" class="control-label"></label>
                <input asp-for="UniformsColor" class="form-control" />
                <span asp-validation-for="UniformsColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamsId" class="control-label"></label>
                <select asp-for="TeamsId" class="form-control" asp-items="ViewBag.TeamsId"></select>
                <span asp-validation-for="TeamsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

